
<script type="text/javascript">
    $(function () {
    	//Personal
    	$('#editfirst').tooltip({ trigger: "hover", placement: "right" });
    	$('#editname').tooltip({ trigger: "hover", placement: "right" });
    	$('#editlast').tooltip({ trigger: "hover", placement: "right" });

    	// Contact
    	$('#editemail').tooltip({ trigger: "hover", placement: "right" });
    	$('#editnumber').tooltip({ trigger: "hover", placement: "right" });
    	$('#editcountry').tooltip({ trigger: "hover", placement: "right" });
    });
</script>

<div class = "container">
	<div class = "page-header"> 
		<table>
			<td>
		<h1 class = "heading"> Account Info </h1> 
		<h5 class = "heading">
			Here you can view and edit your account information 
		</h5> 
		</td>
			<td>

			<%= form_for @user, :html => { :multipart => true } do |form| %>
			<%= form.file_field :avatar %>
			<%= form.submit "Update Avatar", class: "btn"%>
			<% end %>
			<%= image_tag @user.avatar.url(:thumb), style: "height: 100px; width: auto;"%>
		</td>
	</table>
	</div>
	
	<table class = "table-bordered">
	
		<td class = "editCell">
			<div class = "editInput" id="editname" href="#" data-toggle="tooltip" data-original-title="Edit User Name">	
				<%= best_in_place @user, :name, :activator => "#editname" %>
			</div>
			<div class = "editInput" id="editfirst" href="#" data-toggle="tooltip" data-original-title="Edit First Name"> 
				<%= best_in_place @user, :firstname , :activator => "#editfirst" %>
			</div>
			<div class = "editInput"  id="editlast" href="#" data-toggle="tooltip" data-original-title="Edit Last Name">	
				<%= best_in_place @user, :lastname , :activator => "#editlast" %>
			</div>
			<div class = "editInput" id="editemail" href="#" data-toggle="tooltip" data-original-title="Edit Your Email">	
				<%= best_in_place @user, :email, :activator => "#editemail" %>
			</div>

			<div class = "editInput" id="editnumber" href="#" data-toggle="tooltip" data-original-title="Edit Your Phone Number">	
				<%= best_in_place @user, :number, :activator => "#editnumber" %>
			</div>
			<div class = "editInput" id="editcountry" href="#" data-toggle="tooltip" data-original-title="Edit Your Location">	
			
			</div>
		</td>

	<table>
</div>