<div class = "container">
	<table class = "bordered">
	<td style = "width: 465px;">
	<div class = "fieldgroup">
		<div class = "fields">

		<%= form_for(@user) do |f| %>
			<span class = "names">
				<%= f.text_field :firstname, :placeholder => "First Name"%>
				<%= f.text_field :lastname, :placeholder => "Last Name"%>
			</span>
			<br>
			<%= f.text_field :name, :placeholder => "Username"%>
			<br>
			<%= f.text_field :email, :placeholder => "Email" %>
			<br>
			<%= f.password_field :password, :placeholder => "Password" %>
			<br>
			<%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
			<br>
			<%= f.submit "Create my account", class: "btn btn-large btn-success right"%>
			<br>

		<% end %>
		</div>
	</div>
</td>
<td>
	<h1> test</h1>
	</td>
</div>