<% provide(:button, '/login') %>
<% provide(:button_content, "Sign In")%>
<% provide(:title, "myFxProfits") %>

<script> 
function switchSubmit()
{
if(document.getElementById('pay_with_free').checked){
	$('#paid').hide()
	$('#free').show()
	}
if( document.getElementById('pay_with_paypal').checked){
	$('#paid').show()
  	$('#free').hide()
  	}	
}

</script>
<div class = "container">
	<table class = "bordered">
	<td style = "width: 465px;">
	<div class = "fieldgroup">
		<div class = "fields">

		<%= form_for(@user) do |f| %>
		<h3 class = "formtext">Sign Up</h3>
			<span class = "names">
				<%= f.text_field :firstname, :placeholder => "First Name"%>
				<%= f.text_field :lastname, :placeholder => "Last Name"%>
			</span>
			<br>
			<%= f.text_field :name, :placeholder => "Username"%>
			<br>
			<%= f.text_field :email, :placeholder => "Email" %>
			<br>
			<%= f.password_field :password, :placeholder => "Password" %>
			<br>
			<%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
			<br>
			<div class="field">
				<table id = "field">
				<td>
  				<%= radio_button_tag :pay_with, :free, true, :checked => (:paid == false), class: "left", :onclick => "switchSubmit()" %>
  			
				<h6 style = "display: inline; padding: 5px;">Sign Up For a Free Account</h5>
		
				<%= radio_button_tag :pay_with, :paypal, false, :checked => (:paid == true), class: "left", :onclick => "switchSubmit()" %>
				
				<h6 style = "display: inline;  padding: 5px;">Sign Up For a Paid Account</h5>
	
				</td>
				<td style = "width: 250px;">
				<span id = "free" >
					<%= f.submit "Create a Free Account", class: "btn btn-large btn-success right", style: "width: 200px;"%>
				</span>
				<span id = "paid" style = "display: none;">
					<%= f.submit "Checkout With Paypal", class: "btn btn-large btn-success right", style: "width: 200px;"%>
				</span>
			</td>
		</table>
			</div>
		<% end %>
		</div>
	</div>
</td>
<td style = "padding-left: 15px;">
	<h1>Welcome to <span style = "font-size: 70%;">MY</span>FX<span style = "font-size: 70%;">PROFITS</span></h1>

	<table> 
	<td style = "width: 250px;">
		<br>
		<br>
		<p>Are you sick and tired of all kinds of indicators and all the hype out there, <span style = "font-size: 80%;">MY</span>FX<span style = "font-size: 80%;">PROFITS</span> will help you, <span style = "font-size: 80%;">MY</span>FX<span style = "font-size: 80%;">PROFITS</span>.com uses a state of the art robot to facilitate and correctly trade the markets.</p>
	</td>
	<td>
		<img style = "padding: 0px; height: auto; width: 200px;" src = "./../assets/forex.png"/>
	</td>
</table>
	<h5 class = "center"> 21 Pips And You're Done </h5>
	</td>
</div>