<div class = "container">
	<%= form_for(@user) do |f| %>
	<div class = "fieldgroup">
		<div class = "fields">
			<dl class = "form">
			<%= f.text_field :firstname, :placeholder => "First Name"%>
			<%= f.text_field :lastname, :placeholder => "Last Name"%>
			</dl>
			<br>
			<%= f.text_field :name, :placeholder => "Username", :style => "width: 400px;"%>
			<br>
			<%= f.text_field :email, :placeholder => "Email" , :style => "width: 400px;"%>
			<br>
			<%= f.password_field :password, :placeholder => "Password" , :style => "width: 400px;"%>
			<br>
			<%= f.password_field :password_confirmation, :placeholder => "Confirm Password" , :style => "width: 400px;"%>
			<br>
			<%= f.submit "Create my account", class: "btn btn-large btn-primary" , :style => "float: right;"%>

		<% end %>
		</div>
	</div>
</div>