<table>
	<td class = "videoColumn" >
		<% for video in @videos %>

			<div class = "video" >
				<table>
					<td style = "width: 105px; vertical-align: top; margin-right: 5px; ">
						<a href =  <%='/videos/' + video.id.to_s%> >
							<img src = '<%= @encodings[video.id-1].screenshots.first %>' style = "height: 100px; width: 100px;">
						</a>
					</td>

					<td style = "vertical-align: top;">


							<p style = "color: #999; display: inline; vertical-align: top; font-size: 10px;">
								<strong> EPISODE #<%= video.id %> </strong> - <%= video.creationDate %>
							</p>
							<br>

						<a href =  <%='/videos/' + video.id.to_s%> >
							<h3 style = "display: inline; padding: 0px; margin: 0px;" >
								<%= video.title %>
								Lorem ipsum
							</h3>
						</a>
							<p style = "font-size: 12px;">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
							</p>

					</td>
				</table>
			</div>

		<% end %>
	</td>

	<%= paginate @videos %>

</table>
