<% if !answers["post_id"].nil? %>
  <h5> Replies for <% @post = Post.find_by_id(answers["post_id"]) %> 
  <%= @post.user.name %>'s post </h5>
<% else %>
  <h5> This post has no replies </h5>
<% end %>
<% answers["answers"].each do |answer| %>
  <%= render partial: "answers/answer", object: answer %>
<% end %>
	<%= form_for(:answer, url: answers_path) do |f| %>

      <%= f.text_field :body, :placeholder => "Reply to this post"%>
      <%= hidden_field_tag 'post_id', answers["post_id"]  %>
      <br>
      <%= f.submit "Reply", class: "btn", style: "display:inline;"%>

    <% end %>


