<script>

	$(function(){
		$('.delete').click(function(){
			var id = this.getAttribute( 'post-id' );
			console.log(id);
			var confirmation= window.confirm("Are you sure want to delete this post?");
			if (confirmation) {
				window.location = '/deletePost/?id=' + id
			}
		});
	});

</script>

<% for post in @posts %>

	<div class = "post" id = '<%= post.id %>' >
			<table style = "width: 100%;">

				<td style = "width: 50px; vertical-align:top;">
					<img src = <%= post.user.avatar %> class = "thumbIndex" >
				</td>

				<td style = "padding-left: 10px;">
						<!-- Post Made by and time ago -->
						<h5 class = "heading" style = "font-size: 12px; display:inline;">
							<%= post.user.name %> posted
							<%= time_ago_in_words(post.created_at)%> ago

							<!-- Delete Button -->
							<% @user = current_user %>

							<% if post.user_id = @user.id %>
								<p id = "delete" class = "pull-right delete" style = "padding-left: 5px; padding-right: 5px; display:inline;" post-id = "<%=post.id%>"> X </p>
							<% end %>

						</h5>

						<!-- Post Content -->
						<p style = "width: 500px;">
							<%= simple_format( post.body )%>
						</p>

				</td>

			</table>
		<a class = "viewComments" post-id = "<%=post.id%>" id = "commentButton<%=post.id.to_s%>"> View Comments </a>
		<div style = "margin-left: 50px; width: 400px; vertical-align:top" id="answer-column<%= post.id.to_s %>">

        <!-- Comments/Replies to posts render here -->

      </div>
	</div>

<% end %>

<%= paginate @posts %>
