<script>
	function deletePost(id){
		window.location = '/deletePost/?id=' + id
	}
</script>

<% for post in @posts %>

	<div onclick=loadComments(<%= post.id %>)  class = "post" style = "padding-bottom: 50px;"
		id = '<%= post.id %>' >
			<table style = "width: 100%;">

				<td style = "width: 50px; vertical-align:top;">
					<img src = <%= post.user.name %> class = "thumbIndex" >
				</td>

				<td style = "padding-left: 10px;">
						<!-- Post Made by and time ago -->
						<h5 class = "heading" style = "display:inline;">
							<%= post.user.name %> posted
							<%= time_ago_in_words(post.created_at)%> ago

							<!-- Delete Button -->
							<% @user = current_user %>
							<% if post.user_id = @user.id %>
								<p id = "delete" class = "pull-right delete" style = "padding-left: 5px; padding-right: 5px; display:inline;" onclick = "deletePost(<%=post.id%>)"> X </p>
							<% end %>

						</h5>

						<!-- Post Content -->
						<br>
							<%= post.body %>
						<br>

				</td>

			</table>
		<a class = "viewComments" onclick=loadComments(<%= post.id %>) > View Comments </a>
	</div>

<% end %>

<%= paginate @posts %>
