<!DOCTYPE html>
<html>

  <head>

    <meta name="google-site-verification" content="3bcRvLYkrrSSXg1i7U8lbC4yltlNCw9QHnwIKCb9SwU" />

    <!-- Bootstrap Scripts -->
    <script src="./../assets/jquery.js"> </script>
    <script src="./../assets/bootstrap.js"> </script>

    <!-- Bootstrap CSS -->
    <link href="./../assets/bootstrap.css" rel="stylesheet">
    <link href="./../assets/bootstrap-responsive.css" rel="stylesheet">
    <link href="./../assets/custom.css.scss" rel="stylesheet">
    <link href="./../assets/application.css" rel="stylesheet">

    <!-- Icon
   <!--  <link rel="shortcut icon" href="./../assets/money.jpg"/>-->

    <title>myfxprofits</title>
      <%= stylesheet_link_tag "application", :media => "all" %>
      <%= javascript_include_tag "application" %>


      <%= csrf_meta_tags %>

      <!-- Header -->
      <% if !signed_in? %>
        <%= render 'layouts/header' %>
      <% else %>
        <%= render 'layouts/headerSign' %>
      <% end %>

  </head>

  <body>
    <br>
    <%= render 'shared/flash_messages' if !flash.empty? %>
    <%= yield %>
    <br>
  </body>

  <!-- Footer -->
    <% if !signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>

</html>
