<!DOCTYPE html>
<html>

  <head>

    <!-- Bootstrap CSS -->
    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="assets/stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- Icon 
   <!--  <link rel="shortcut icon" href="./../assets/money.jpg"/>-->

    <title>MyFX-Profits</title>
      <%= stylesheet_link_tag "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      
      <!-- Header -->
      <% if !signed_in? %>
        <%= render 'layouts/header' %>
      <% else %>
        <%= render 'layouts/headerSign' %>
      <% end %>

  </head>
  
  <body>
    <br>
    <%= yield %>
    <br>
  </body>

  <!-- Footer -->
    <% if !signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>

</html>
