<!DOCTYPE html>
<html>

  <head>
    <link rel="shortcut icon" href="./../assets/money.jpg"/>

    <title>MyFX-Profits</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <% if !signed_in? %>
      <%= render 'layouts/header' %>
      <% else %>
      <%= render 'layouts/headerSign' %>
      <% end %>
  </head>
  <body>
    <br>
    <%= yield %>
    <br>
  </body>
   <% if !signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>
</html>
